nav {
  background-color: #fe852a !important;
}

img {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#common {
  background-color: #fe852a !important;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 30px;
}

#spacecraft {
  margin-bottom: 150px;
  margin-top: 50px;
}
